## Diagnostico de los datos y limpieza de los mismos

In [69]:
import pandas as pd
import numpy as np

In [70]:
# Carga de los datos localmente
df_games = pd.read_csv('df_games.csv')

## Diagnostico

In [71]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [72]:
df_games.sample(15)

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
16586,Koi Sentai Love & Peace the P.S.P: Power Zenka...,PSP,2012.0,Action,0.00,0.00,0.01,0.00,NaN,NaN,NaN
10180,Cake Mania,DS,2007.0,Puzzle,0.09,0.01,0.00,0.01,55.0,6.1,E
12400,TrackMania Turbo,XOne,2016.0,Action,0.02,0.04,0.00,0.00,76.0,7.7,E
2303,The Elder Scrolls Online,PC,2014.0,Role-Playing,0.32,0.51,0.00,0.07,71.0,5.7,M
12073,Sprint Cars: Road to Knoxville,PS2,2005.0,Racing,0.03,0.03,0.00,0.01,NaN,tbd,E
14209,Tsuyo Kiss: Mighty Heart,PS2,2006.0,Adventure,0.00,0.00,0.03,0.00,NaN,NaN,NaN
7513,Saints Row IV,XOne,2015.0,Action,0.10,0.09,0.00,0.02,NaN,NaN,NaN
8231,Super Robot Taisen L,DS,2010.0,Strategy,0.00,0.00,0.17,0.00,NaN,NaN,NaN
4432,Naruto: Gekito Ninja Taisen! 3,GC,2004.0,Fighting,0.00,0.00,0.43,0.01,NaN,NaN,NaN
3095,Disney's Chicken Little,PS2,2005.0,Platform,0.32,0.25,0.00,0.08,60.0,8.9,E10+
2691,Final Fantasy II,NES,1988.0,Role-Playing,0.00,0.00,0.76,0.00,NaN,NaN,NaN
13090,Pet Pals: New Leash on Life,DS,2010.0,Simulation,0.05,0.00,0.00,0.00,NaN,tbd,E
278,FIFA 12,X360,2011.0,Sports,0.84,2.78,0.02,0.53,NaN,NaN,NaN
15766,Bejeweled Blitz,PC,2010.0,Puzzle,0.00,0.01,0.00,0.00,NaN,tbd,E
13477,Resident Evil 6,XOne,2016.0,Shooter,0.04,0.00,0.00,0.00,63.0,6.3,M

In [73]:
df_games['Platform'].value_counts().sort_index()

Platform
2600     133
3DO        3
3DS      520
DC        52
DS      2151
GB        98
GBA      822
GC       556
GEN       29
GG         1
N64      319
NES       98
NG        12
PC       974
PCFX       1
PS      1197
PS2     2161
PS3     1331
PS4      392
PSP     1209
PSV      430
SAT      173
SCD        6
SNES     239
TG16       2
WS         6
Wii     1320
WiiU     147
X360    1262
XB       824
XOne     247
Name: count, dtype: int64

In [74]:
df_games['Genre'].value_counts().sort_index()

Genre
Action          3369
Adventure       1303
Fighting         849
Misc            1750
Platform         888
Puzzle           580
Racing          1249
Role-Playing    1498
Shooter         1323
Simulation       873
Sports          2348
Strategy         683
Name: count, dtype: int64

In [75]:
df_games['User_Score'].describe()

count     10014
unique       96
top         tbd
freq       2424
Name: User_Score, dtype: object

In [76]:
df_games['User_Score'].unique()

array(['8', nan, '8.3', '8.5', '6.6', '8.4', '8.6', '7.7', '6.3', '7.4',
       '8.2', '9', '7.9', '8.1', '8.7', '7.1', '3.4', '5.3', '4.8', '3.2',
       '8.9', '6.4', '7.8', '7.5', '2.6', '7.2', '9.2', '7', '7.3', '4.3',
       '7.6', '5.7', '5', '9.1', '6.5', 'tbd', '8.8', '6.9', '9.4', '6.8',
       '6.1', '6.7', '5.4', '4', '4.9', '4.5', '9.3', '6.2', '4.2', '6',
       '3.7', '4.1', '5.8', '5.6', '5.5', '4.4', '4.6', '5.9', '3.9',
       '3.1', '2.9', '5.2', '3.3', '4.7', '5.1', '3.5', '2.5', '1.9', '3',
       '2.7', '2.2', '2', '9.5', '2.1', '3.6', '2.8', '1.8', '3.8', '0',
       '1.6', '9.6', '2.4', '1.7', '1.1', '0.3', '1.5', '0.7', '1.2',
       '2.3', '0.5', '1.3', '0.2', '0.6', '1.4', '0.9', '1', '9.7'],
      dtype=object)

In [77]:
df_games['Critic_Score'].describe()

count    8137.000000
mean       68.967679
std        13.938165
min        13.000000
25%        60.000000
50%        71.000000
75%        79.000000
max        98.000000
Name: Critic_Score, dtype: float64

In [78]:
df_games['Critic_Score'].sample(15).reset_index()

    index  Critic_Score
0   10971          73.0
1   14115           NaN
2    1497          79.0
3    1397          77.0
4    7916           NaN
5    3483          70.0
6   13023           NaN
7   15970           NaN
8   12230          69.0
9    9662           NaN
10  11549           NaN
11  11526          68.0
12  11653           NaN
13   2000          81.0
14   4730           NaN

In [79]:
df_games['Rating'].value_counts().reset_index()

  Rating  count
0      E   3990
1      T   2961
2      M   1563
3   E10+   1420
4     EC      8
5    K-A      3
6     RP      3
7     AO      1

### Plan para el preprocesamiento de datos 

* Cambiar los nombres a las columnas de modo que queden tipo 'snake_case'
* En la columna name:
    * Cambiar los nombres a mayusculas y quitar espacios no deseados y signos de pausa.
    * Rellenar los casos nulos con 'NO DEFINED' 
* Columna platform: 
    * Agrupar las plataformas por tipolog√≠a y crear una columna nueva. 
* Columna year_of_release:
    * Quitar valores perdidios.
* Columna genre: 
    * Rellenar los datos nulos con 'No defined'
* Columna user_score:
    * Sustituir 'tbd' por un valor numerico perdido.
    * Cambiar los datos a tipo de datos float.
* Columna 'critic_Score:
    * dividir los datos entre 10 para tener las mismas magnitudes que 'user_score'
* Columna rating:
    * Cambiar las opciones existentes por valores mas explicitos para el publico. 
* Generar una nueva columna 'total_sales' 
* Revisar y eliminal doplicados.

### Desarrollo

Nombres de columnas

In [80]:
df_games.columns = [x.lower() for x in df_games.columns]
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16446 non-null  float64
 3   genre            16713 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       10014 non-null  object
 10  rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

Columna 'names'

In [81]:
# Cambiar a mayusculas
df_games['name'] = df_games['name'].str.upper()

In [82]:
# Quitar espacios no deseados y signos de pausa
df_games['name'] = df_games['name'].str.strip()
df_games['name'] = df_games['name'].str.replace(':','').str.replace(';','').str.replace(',','').str.replace('.','')

In [83]:
df_games.sample(15)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
4789,NBA SHOOTOUT 2000,PS,1999.0,Sports,0.22,0.15,0.00,0.03,NaN,NaN,NaN
14597,SAMURAI SPIRITS TENKAICHI KENKAKUDEN,PS2,NaN,Fighting,0.00,0.00,0.03,0.00,NaN,NaN,NaN
879,KIRBY SQUEAK SQUAD,DS,2006.0,Platform,0.78,0.02,1.05,0.08,71.0,8.1,E
14232,BATTLE ASSAULT 3 FEATURING GUNDAM SEED,PS2,2004.0,Action,0.02,0.01,0.00,0.00,48.0,8.7,T
8063,THE LAST AIRBENDER,DS,2010.0,Action,0.13,0.04,0.00,0.01,69.0,7,E10+
13842,KING OF FIGHTERS MAXIMUM IMPACT REGULATION A,PS2,2007.0,Fighting,0.00,0.00,0.04,0.00,NaN,NaN,NaN
9215,STAR WARS JEDI POWER BATTLES,GBA,2002.0,Action,0.10,0.04,0.00,0.00,58.0,tbd,T
3886,INTERNATIONAL TRACK & FIELD,PS,1996.0,Sports,0.08,0.05,0.35,0.03,NaN,NaN,NaN
13328,YU-GI-OH! WORLD CHAMPIONSHIP 2007,DS,2007.0,Strategy,0.00,0.01,0.04,0.00,NaN,NaN,NaN
11111,DARK ANGEL VAMPIRE APOCALYPSE,PS2,2001.0,Role-Playing,0.04,0.03,0.00,0.01,53.0,5.6,T
10116,SABRINA THE TEENAGE WITCH POTION COMMOTION,GBA,2002.0,Action,0.08,0.03,0.00,0.00,63.0,2.8,E
4479,FLIGHT CONTROL ROCKET,GBA,2005.0,Simulation,0.31,0.12,0.00,0.01,NaN,NaN,NaN
15743,WORMS,X360,2007.0,Strategy,0.00,0.02,0.00,0.00,75.0,6.9,E10+
15408,WAKEBOARDING UNLEASHED FEATURING SHAUN MURRAY,GBA,2003.0,Sports,0.01,0.01,0.00,0.00,67.0,tbd,E
6697,AVATAR THE LAST AIRBENDER - THE BURNING EARTH,Wii,2007.0,Action,0.23,0.00,0.00,0.02,NaN,NaN,NaN

In [84]:
df_games[df_games['name'].isna()]

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
659,NaN,GEN,1993.0,NaN,1.78,0.53,0.00,0.08,NaN,NaN,NaN
14244,NaN,GEN,1993.0,NaN,0.00,0.00,0.03,0.00,NaN,NaN,NaN

In [85]:
# Rellenar valores nulos
df_games['name'] = df_games['name'].fillna('NOT DEFINED')

Columna platform

In [86]:
# Crear una funcion a aplicar
def gruoplat (x):
    if x in ['PS', 'PS2', 'PSP', 'PS3', 'PSV', 'PS4', 'PS5']:
        return 'PlayStation'
    elif x in ['X360', 'XB', 'XOne']:
        return 'XBox'
    elif x in ['3DS', 'DS', 'GB', 'GBA', 'GC', 'N64', 'NES', 'SNES', 'Wii', 'WiiU']:
        return 'Nintendo'
    elif x in ['PC', 'PCFX']:
        return 'PC'
    else:
        return 'Other'

In [87]:
# Aplicar la funcion para crear la nueva columna 
df_games['platform_group'] = df_games['platform'].apply(gruoplat)
df_games.sample(15)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating,platform_group
12804,MOTOGP,GBA,2002.0,Racing,0.04,0.01,0.00,0.00,67.0,tbd,E,Nintendo
5093,HIGH HEAT MAJOR LEAGUE BASEBALL 2003,PS2,2002.0,Sports,0.18,0.14,0.00,0.05,84.0,7.9,E,PlayStation
2475,BLAZING ANGELS SQUADRONS OF WWII,Wii,2007.0,Simulation,0.74,0.04,0.00,0.06,57.0,6.7,T,Nintendo
3571,LEGO ROCK BAND,X360,2009.0,Misc,0.40,0.11,0.00,0.05,71.0,7.2,E10+,XBox
5328,RALLY CROSS 2,PS,1998.0,Racing,0.19,0.13,0.00,0.02,NaN,NaN,NaN,PlayStation
8383,OFF-WORLD INTERCEPTOR EXTREME,PS,1995.0,Racing,0.09,0.06,0.00,0.01,NaN,NaN,NaN,PlayStation
4174,DRAGON AGE ORIGINS AWAKENING,X360,2010.0,Role-Playing,0.33,0.10,0.00,0.04,NaN,NaN,NaN,XBox
12672,SYPHON FILTER LOGAN'S SHADOW,PS2,2010.0,Shooter,0.03,0.02,0.00,0.01,NaN,7.9,T,PlayStation
1810,MIRROR'S EDGE,PS3,2008.0,Platform,0.31,0.58,0.02,0.22,79.0,7.8,T,PlayStation
3939,LOONEY TUNES BACK IN ACTION,PS2,2003.0,Platform,0.25,0.19,0.00,0.06,51.0,7.5,E,PlayStation
5852,CART WORLD SERIES,PS,1997.0,Racing,0.17,0.11,0.00,0.02,NaN,NaN,NaN,PlayStation
9055,POWER STONE,DC,1998.0,Fighting,0.00,0.00,0.14,0.00,NaN,NaN,NaN,Other
10259,MY LITTLE SISTER CAN'T BE THIS CUTE PORTABLE,PSP,2012.0,Action,0.00,0.00,0.11,0.00,NaN,NaN,NaN,PlayStation
1558,HOGAN'S ALLEY,NES,1984.0,Shooter,0.68,0.16,0.41,0.02,NaN,NaN,NaN,Nintendo
3973,TACTICS OGRE THE KNIGHT OF LODIS,GBA,2001.0,Role-Playing,0.13,0.05,0.31,0.01,88.0,9.1,E,Nintendo

In [88]:
df_games['platform_group'].value_counts()

platform_group
PlayStation    6720
Nintendo       6270
XBox           2333
PC              975
Other           417
Name: count, dtype: int64

Columna user_score

In [89]:
# Cambiar tbd por un valor numerico perdido
df_games.loc[df_games['user_score'] == 'tbd', 'user_score'] = np.nan

In [90]:
# Cambiar el tipo de datos
df_games['user_score'] = df_games['user_score'].astype(float)

In [91]:
df_games['user_score'].describe()

count    7590.000000
mean        7.125046
std         1.500006
min         0.000000
25%         6.400000
50%         7.500000
75%         8.200000
max         9.700000
Name: user_score, dtype: float64

Columna critic_score

In [92]:
# Igualar la magnitud con 'user_score'
df_games['critic_score'] = df_games['critic_score']/10

In [93]:
df_games.sample(15)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating,platform_group
8286,BACKYARD BASEBALL '10,PS2,2009.0,Sports,0.08,0.07,0.00,0.02,NaN,NaN,E,PlayStation
13622,CORALINE,DS,2009.0,Action,0.04,0.00,0.00,0.00,NaN,NaN,E,Nintendo
756,STAR WARS ROGUE SQUADRON,N64,1998.0,Simulation,1.60,0.46,0.08,0.03,NaN,NaN,NaN,Nintendo
13728,YOURSELF FITNESS,PS2,2005.0,Sports,0.02,0.02,0.00,0.01,NaN,NaN,NaN,PlayStation
10233,NIGHT AT THE MUSEUM BATTLE OF THE SMITHSONIAN,X360,2009.0,Action,0.07,0.03,0.00,0.01,5.0,7.1,E10+,XBox
3832,NBA LIVE 08,X360,2007.0,Sports,0.47,0.00,0.00,0.04,7.3,5.3,E,XBox
3404,ASSASSIN'S CREED BROTHERHOOD,PC,2011.0,Action,0.15,0.34,0.00,0.10,8.8,8.2,M,PC
11889,MODEL * OSHARE AUDITION DREAM GIRL,3DS,2013.0,Misc,0.00,0.00,0.07,0.00,NaN,NaN,NaN,Nintendo
7866,ARCADE SHOOTING GALLERY,Wii,2008.0,Shooter,0.18,0.00,0.00,0.01,NaN,NaN,E10+,Nintendo
3056,TV SHOW KING PARTY,Wii,2008.0,Puzzle,0.18,0.40,0.00,0.08,NaN,NaN,T,Nintendo
4206,ART ACADEMY LESSONS FOR EVERYONE,3DS,2012.0,Action,0.20,0.04,0.21,0.02,8.1,7.6,E,Nintendo
9916,ZENSES OCEAN,DS,2008.0,Puzzle,0.10,0.01,0.00,0.01,5.6,NaN,E,Nintendo
15233,UTA KUMI 575,PSV,2014.0,Misc,0.00,0.00,0.02,0.00,NaN,NaN,NaN,PlayStation
10798,AR TONELICO MELODY OF ELEMIA,PS2,2006.0,Role-Playing,0.00,0.00,0.10,0.00,7.1,7.7,T,PlayStation
4502,MEGA MAN ZERO 2,GBA,2003.0,Platform,0.18,0.07,0.17,0.01,8.1,8.6,E,Nintendo

Columna 'rating'

In [94]:
# Definir una funcion a plaicar 
def concept(x):
    if x == 'E' or x == 'K-A':
        return 'Everyone'
    elif x == 'T':
        return 'Teens'
    elif x == 'M':
        return 'Mature'
    elif x == 'E10+':
        return 'Everyone 10+'
    elif x == 'EC':
        return 'Early Childhood'
    elif x == 'RP':
        return 'Rating Pending'
    elif x == 'AO':
        return 'Adults Only'
    else:
        return 'Rating Pending'

In [95]:
df_games['rating'] = df_games['rating'].apply(concept)

In [96]:
df_games['rating'].value_counts()

rating
Rating Pending     6769
Everyone           3993
Teens              2961
Mature             1563
Everyone 10+       1420
Early Childhood       8
Adults Only           1
Name: count, dtype: int64

Columna total_sales

In [97]:
df_games['total_sales'] = df_games[['na_sales', 'eu_sales', 'other_sales']].sum(axis = 1)

In [98]:
df_games.sample(15)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating,platform_group,total_sales
10593,YOU DON'T KNOW JACK MOCK 2,PS,2000.0,Misc,0.06,0.04,0.00,0.01,8.2,NaN,Everyone,PlayStation,0.11
5517,POWER RANGERS NINJA STORM,GBA,2003.0,Misc,0.24,0.09,0.00,0.01,5.5,7.8,Everyone,Nintendo,0.34
5184,MY HORSE & ME,DS,2007.0,Sports,0.33,0.00,0.00,0.03,NaN,NaN,Rating Pending,Nintendo,0.36
9914,BISHOUJO SENSHI SAILORMOON S JUUGAI RANTOU!? S...,SNES,1994.0,Fighting,0.00,0.00,0.12,0.00,NaN,NaN,Rating Pending,Nintendo,0.00
16566,MAGICIANS ACADEMY,PS2,2007.0,Role-Playing,0.00,0.00,0.01,0.00,NaN,NaN,Rating Pending,PlayStation,0.00
15523,MALICE,PS2,2004.0,Platform,0.01,0.01,0.00,0.00,5.1,NaN,Teens,PlayStation,0.02
10270,4 GAME FUN PACK MONOPOLY / BOGGLE / YAHTZEE / ...,DS,2005.0,Misc,0.10,0.00,0.00,0.01,NaN,NaN,Rating Pending,Nintendo,0.11
7025,MAFIA,XB,2004.0,Action,0.17,0.05,0.00,0.01,6.6,7.7,Mature,XBox,0.23
4421,THE URBZ SIMS IN THE CITY (ALL REGIONS SALES),DS,2004.0,Simulation,0.40,0.01,0.02,0.00,NaN,NaN,Rating Pending,Nintendo,0.41
2688,STAR WARS BATTLEFRONT ELITE SQUADRON,PSP,2009.0,Shooter,0.38,0.23,0.00,0.15,6.3,8.0,Teens,PlayStation,0.76
15682,LEGENDARY,PC,2008.0,Shooter,0.00,0.01,0.00,0.00,5.0,6.6,Mature,PC,0.01
9341,LEARN MATH,DS,2009.0,Puzzle,0.12,0.00,0.00,0.01,NaN,NaN,Everyone,Nintendo,0.13
16363,SIMPLE DS SERIES VOL 41 THE BAKUDAN SHORI-HAN,DS,2008.0,Action,0.00,0.00,0.01,0.00,NaN,NaN,Rating Pending,Nintendo,0.00
15726,PRINCE OF STRIDE,PSV,2015.0,Adventure,0.00,0.00,0.02,0.00,NaN,NaN,Rating Pending,PlayStation,0.00
14168,RADIANT SILVERGUN,SAT,1998.0,Shooter,0.00,0.00,0.03,0.00,NaN,NaN,Rating Pending,Other,0.00

Datos duplicados

In [99]:
df_games.duplicated().value_counts()

False    16715
Name: count, dtype: int64

Datos duplicados l√≥gicos

In [100]:
# identificamos las identidades mas relevantes de la tabla 
df_games[df_games[['name', 'platform', 'year_of_release']].duplicated()]

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating,platform_group,total_sales
14244,NOT DEFINED,GEN,1993.0,NaN,0.0,0.00,0.03,0.0,NaN,NaN,Rating Pending,Other,0.00
16230,MADDEN NFL 13,PS3,2012.0,Sports,0.0,0.01,0.00,0.0,8.3,5.5,Everyone,PlayStation,0.01

In [101]:
df_games = df_games.drop_duplicates(subset = ['name', 'platform', 'year_of_release']).reset_index(drop = True)

## Guardar datos limpios

In [102]:
df_games.to_csv('df_games_clean.csv', index = False)