In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import scipy.stats as st

In [10]:
# Diccionario de paises
df_cat_pais = pd.read_csv('https://raw.githubusercontent.com/jsaraujott/datos/refs/heads/main/cat_codpais3.csv')

In [4]:
# DF ahorro
df_ahorro = pd.read_csv('https://raw.githubusercontent.com/jsaraujott/datos/refs/heads/main/wb_ahorro.csv')

In [5]:
# DF crecimiento pib
df_pib = pd.read_csv('https://raw.githubusercontent.com/jsaraujott/datos/refs/heads/main/wb_crecimpib.csv')

In [6]:
# DF crecimiento poblacional 
df_poblacion = pd.read_csv('https://raw.githubusercontent.com/jsaraujott/datos/refs/heads/main/wb_crecimpob.csv')

In [7]:
# DF pobloacion urbana 
df_urbana = pd.read_csv('https://raw.githubusercontent.com/jsaraujott/datos/refs/heads/main/wb_poburbana.csv')

# Diagnistico inicial

In [11]:
df_cat_pais.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Code  264 non-null    object
 1   Country Name  264 non-null    object
dtypes: object(2)
memory usage: 4.3+ KB

In [12]:
df_cat_pais.sample(10)

    Country Code                 Country Name
106          IMN                  Isla de Man
99           HUN                      Hungría
200          RUS          Federación de Rusia
9            ASM              Samoa Americana
11           AUS                    Australia
198          QAT                        Qatar
148          MDA         República de Moldova
69           EST                      Estonia
130          LBY                        Libia
61           EAS  Asia oriental y el Pacífico

In [13]:
df_ahorro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Code  265 non-null    object
 1   2000          161 non-null    float64
 2   2001          160 non-null    float64
 3   2002          167 non-null    float64
 4   2003          169 non-null    float64
 5   2004          169 non-null    float64
 6   2005          187 non-null    float64
 7   2006          190 non-null    float64
 8   2007          195 non-null    float64
 9   2008          196 non-null    float64
 10  2009          198 non-null    float64
 11  2010          200 non-null    float64
 12  2011          201 non-null    float64
 13  2012          204 non-null    float64
 14  2013          204 non-null    float64
 15  2014          206 non-null    float64
 16  2015          207 non-null    float64
 17  2016          205 non-null    float64
 18  2017          198 non-null    float64
 19  2018          197 non-null    float64
 20  2019          199 non-null    float64
 21  2020          199 non-null    float64
 22  2021          192 non-null    float64
 23  2022          175 non-null    float64
 24  2023          110 non-null    float64
dtypes: float64(24), object(1)
memory usage: 51.9+ KB

In [14]:
df_ahorro.sample(10)

,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
17,BEL,NaN,NaN,26.371768,26.224229,27.194348,27.316822,27.848001,28.779585,27.427341,...,24.577123,25.008678,24.816966,25.154907,24.498562,25.104878,25.597742,26.991311,26.018398,25.206997
238,TMN,NaN,NaN,NaN,NaN,NaN,35.298730,36.161059,35.629189,37.859028,...,24.493617,19.752561,19.531247,23.358223,26.591250,25.154265,19.971840,24.877419,NaN,NaN
251,USA,20.813335,19.657276,18.380860,17.428715,17.733161,18.122458,19.199754,17.427948,15.058807,...,19.656661,19.698427,18.558693,18.979057,19.232096,19.508791,18.617696,17.925703,18.104667,NaN
201,ROU,16.005476,17.310206,18.821391,16.322530,15.809860,14.219256,16.991374,17.799150,21.811007,...,24.712339,24.713472,22.135548,20.820559,18.735866,19.421017,19.606820,19.080530,17.887475,18.678053
154,MEX,20.860015,20.804545,20.560379,19.782321,21.468439,19.665141,21.895068,21.588239,20.405125,...,16.847085,18.515549,19.384967,20.616172,21.495058,21.318232,22.251874,21.844180,20.109813,19.678521
55,DEU,22.668918,22.540648,22.639590,21.796395,24.320947,24.130960,26.338422,28.267438,27.148700,...,27.574904,28.310645,28.603995,28.839018,29.878432,30.087282,29.070418,30.870465,29.184506,30.170884
220,SUR,NaN,NaN,NaN,NaN,NaN,NaN,46.793883,55.605086,52.097551,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,BHS,32.684911,28.743915,32.121540,31.202276,32.700775,29.834358,26.597064,27.793798,26.587454,...,19.860651,19.791138,21.954982,15.796899,14.561881,20.849322,9.458503,9.245535,16.086885,NaN
60,DZA,NaN,NaN,NaN,NaN,NaN,50.723301,53.690661,55.806695,56.619392,...,44.681614,39.047425,39.766165,39.507143,40.470787,38.471013,33.337087,38.674077,44.473385,41.225938
30,BRB,10.651947,8.493279,9.521741,11.846799,8.124926,3.832296,8.084108,13.461148,8.051155,...,4.366252,4.898159,2.650009,4.958327,NaN,NaN,NaN,NaN,NaN,NaN